# Ignore generated Python gRPC files
*_pb2.py
*_pb2_grpc.py

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environment
.venv/
venv/
ENV/

# Distribution
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
